<div class="relative w-100 mb4 bg-white nested-copy-line-height">
	<div class="bg-white mb3 pa4 gray overflow-hidden">
		<h1 class="f3 near-black">
			<a href="{{ .Params.link }}" class="link black dim">
				{{ .Title }}
			</a>
		</h1>
		<div class="nested-links f5 lh-copy nested-copy-line-height">
			{{ .Params.authors }}
			<!--
			<br>
			{{ .Params.description }}
			<br>
			{{ .Params.keywords }}-->
			{{ if .Params.session_link }}
				<br>
				<a href="{{ .Params.session_link }}" class="link blue dim">Launch live session</a>
			{{ end }}
			<br>
			<span style="font-size: 0.8rem;">{{ time.Format "02.01.2006" .Date }}</span>
		</div>
	</div>
</div>
