{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
	<div class="db pv4 ph3 ph0-l no-underline dark-gray">
		<div class="flex flex-column flex-row-ns">
			{{ if $featured_image }}
			{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
			<div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3-ns" "pr3-ns" }} mb4 mb0-ns w-100 w-40-ns">
				<a href="{{.Params.link}}" class="db grow">
					<img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
				</a>
			</div>
			{{ end }}
			<div class="blah w-100{{ if $featured_image }} w-60-ns {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr3-ns" "pl3-ns" }}{{ end }}">
				<h1 class="f3 fw1 athelas mt0 lh-title">
					<a href="{{.Params.link}}" class="color-inherit dim link">
						{{ .Title }}
					</a>
				</h1>
				<div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
					{{ .Params.authors }}
					{{ if .Params.session_link }}
						<br>
						<a href="{{ .Params.session_link }}" class="link blue dim">Launch live session</a>
					{{ end }}
					<br>
					<span style="font-size: 0.8rem;">{{ time.Format "02.01.2006" .Date }}</span>
				</div>
			</div>
		</div>
	</div>
</article>
